body {
    box-sizing: border-box;
    margin: auto;
}

main {
    display: flex;
    height: 100vh;
    max-height: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(16, 30px);
    grid-template-columns: repeat(16, 30px);
    border: 25px solid darkred;
    border-radius: 10px;
    line-height: 0;
    width: 480px;
}

.grid {
    box-sizing: border-box;
    background-color: #fff;
}

.menu {
    margin-top: 10px;
}